
body{
    background-color: rgb(97, 80, 80);
}


table{
    left: 50%;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    border: 2px solid grey;
}

.board td {
    width: 60px;
    height:60px;
    text-align: center;
    font-size:1.4em;
    border: 2px solid grey;
    background-color: rgb(38, 53, 53);
}

.game-score{
    height: 120px;
    width: 120px;
    background-color: lightblue;
    float: right;
    color: white;
    font-size: 18px;
    margin-top: 20px;
    margin-right: 50px;
    text-align: center;
    color: black;
    font-weight: bold;
    border: 3px solid black;
}

.reset{
    float: left;
    font-weight: bold;
    margin-bottom: 10px;
    height: 50px;
    width: 80px;
    margin-top: 600px;
    margin-left: 50px;
    background-color: lightblue;
}